<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<nav class="fixed top-0 flex-no-wrap flex w-full items-center justify-between bg-[#D40000] py-2 shadow-lg shadow-gray lg:flex-wrap lg:justify-start"
     data-te-navbar-ref
     th:fragment="navbarUser">
    <div class="flex w-full flex-wrap items-center justify-between px-6">
        <!-- Hamburger menu on the left of mobile view -->
        <button
                aria-controls="navbarSupportedContent1"
                aria-expanded="false"
                aria-label="Toggle navigation"
                class="block border-0 bg-transparent py-2 px-2.5 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 lg:hidden"
                data-te-collapse-init
                data-te-target="#navbarSupportedContent1"
                type="button">
                <span class="[&>svg]:w-7">
                    <svg
                            class="h-7 w-7"
                            fill="white"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                    <path
                            clip-rule="evenodd"
                            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                            fill-rule="evenodd"/>
                    </svg>
                </span>
        </button>

        <!-- Expanded menu on the left of desktop view -->
        <div class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
             data-te-collapse-item id="navbarSupportedContent1">
            <!-- Logo -->
            <a class="mt-2 mr-6 flex items-center lg:mt-0" href="/">
                <img alt="Home" style="height: 2rem" th:src="@{/images/logo.svg}"/>
            </a>
            <!-- Link menu -->
            <ul class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row" data-te-navbar-nav-ref>
                <li class="py-2 lg:px-6" data-te-nav-item-ref>
                    <a
                            class="text-sm text-white font-bold hover:text-[#E0D517] focus:text-[#E0D517] disabled:text-black/30  lg:px-2 [&.active]:text-black/90"
                            data-te-nav-link-ref
                            href="#">
                        Produk
                    </a>
                </li>
                <li class="py-2 lg:px-6" data-te-nav-item-ref>
                    <a
                            class="text-sm text-white font-bold hover:text-[#E0D517] focus:text-[#E0D517] disabled:text-black/30  lg:px-2 [&.active]:text-black/90"
                            data-te-nav-link-ref
                            href="#">
                        Artikel
                    </a>
                </li>
                <li class="py-2 lg:px-6" data-te-nav-item-ref sec:authorize="isAuthenticated()">
                    <a
                            class="text-sm text-white font-bold hover:text-[#E0D517] focus:text-[#E0D517] disabled:text-black/30  lg:px-2 [&.active]:text-black/90"
                            data-te-nav-link-ref
                            href="#">
                        Riwayat Transaksi
                    </a>
                </li>
            </ul>
        </div>

        <!-- Menu on the right -->
        <div class="relative py-2 flex items-center">
            <a sec:authorize="isAnonymous()" th:href="@{/oauth2/authorization/google}">
                <button class="font-semibold text-white text-sm rounded-2xl outline outline-white py-1.5 px-6 hover:bg-black hover:outline-0">
                    Masuk dengan akun Google
                </button>
            </a>
            <a class="mr-6" href="#" sec:authorize="isAuthenticated()">
                    <span class="[&>svg]">
                        <svg
                                class="h-5 w-5"
                                fill="white"
                                viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"/>
                        </svg>
                    </span>
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">
                <button class="font-semibold text-white text-sm rounded-2xl outline outline-white py-1.5 px-6 hover:bg-black hover:outline-0">
                    Keluar
                </button>
            </a>
        </div>
    </div>
</nav>
</html>