.arrows:hover {
    fill: var(--primary-red);
    cursor: pointer;
}

.arrows:hover path {
    fill: var(--primary-red);
}

.page-number {
    border: 1px solid var(--primary-red);
    color: var(--primary-red);
}

.page-number:hover {
    background-color: var(--primary-red);
    color: var(--primary-white);
    cursor: pointer;
}

.current-page {
    background-color: var(--primary-red);
    color: var(--primary-white);
    cursor: not-allowed;
    pointer-events: none;
}

section {
    padding: 0;
}

.trash-can-box {
    border-color: var(--primary-red);
}

.trash-can-box:hover {
    cursor: pointer;
}

.pencil-box {
    border-color: var(--primary-red);
    background-color: var(--primary-red);
}

.pencil-box:hover {
    cursor: pointer;
}

.disabled-arrows {
    cursor: not-allowed;
    pointer-events: none;
}

.action-button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transform: translateY(-0.25rem);
}


#search-product-bar {
    border: solid var(--primary-red);
}

.search-button {
    background-color: var(--primary-red);
}

.search-icon {
    background-color: var(--primary-red);
}

#search-product-bar::-webkit-search-cancel-button {
    filter: invert(12%) sepia(94%) saturate(5024%) hue-rotate(360deg) brightness(87%) contrast(116%);
}

.add-button {
    background-color: var(--primary-red);
}

.add-button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transform: translateY(-0.25rem);
}