<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Imdifoods</title>
    <link rel="shortcut icon" th:href="@{/images/logo.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</head>
<body>
<div th:if="*{userRole == 'USER'}">
    <nav th:replace="~{fragments/navbarUser :: navbarUser}"></nav>
</div>
<div th:if="*{userRole == 'ADMIN'}">
    <nav th:replace="~{fragments/navbarAdmin :: navbarAdmin}"></nav>
</div>
<main class="flex flex-col justify-center h-screen">
    <h1 class="text-3xl font-semibold text-center lg:text-4xl">
        Selamat datang, </h1>
    <h1 class="text-3xl font-semibold text-center lg:text-4xl" th:text="*{userDetails}">
    </h1>
</main>
</body>
</html>
